# Application Port
PORT=3000

# MQTT Broker URL for the Node.js server to connect to (can be internal or external)
MQTT_BROKER_URL=ws://localhost:9001

# MQTT Broker URL for the frontend clients to connect to (must be reachable by the browser)
# If not set, it defaults to ws://<hostname>:9001
MQTT_BROKER_URL_CLIENT=ws://your-domain.com:9001

# API URL for the frontend to upload models (must be reachable by the browser)
# If not set, it defaults to http://<hostname>:<PORT>
API_URL=http://your-domain.com:3000
